<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testazurefunctionapp2020.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cf0f9a99-07b6-44a1-bd1c-f99021960a89/resourceGroups/TestAzureFunctionAppRG2020/providers/Microsoft.Web/sites/TestAzureFunctionApp2020</ResourceId>
    <UserName>$TestAzureFunctionApp2020</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testazurefunctionapp2020.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>